{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block body %}

    <form action="{{ path('app_book_index') }}" method="GET">
        <input type="text" name="id" placeholder="id" value="{{ app.request.query.get('id') }}">
        <input type="text" name="name" placeholder="Name" value="{{ app.request.query.get('name') }}">
        <input type="text" name="image" placeholder="image" value="{{ app.request.query.get('image') }}">
        <input type="text" name="description" placeholder="Description" value="{{ app.request.query.get('description') }}">
        <!-- Add more input fields for other properties -->
        <button type="submit" class="btn btn-secondary btn-lg">Search</button>
    </form>

    <h1>Book index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Image</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.name }}</td>
                <td><img height="200" width="200" src="{{ asset('uploads/books/')~book.image }}" alt="file"/></td>
                <td>{{ book.description }}</td>
                <td>
                    <a href="{{ path('app_book_show', {'id': book.id}) }}">show</a>
                    <a href="{{ path('app_book_edit', {'id': book.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_book_new') }}">Create new</a>
{% endblock %}
